body, html {
    @include rempix(font-size, 16px);
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #EFEFEF;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	position: relative;
	@include box-sizing(border-box);
}
*:focus {
	outline: none;
}

p {
	@include rempix(margin, 5px auto);
}
a {
	text-decoration: none;
	color: #48649F;
}

input[type=text] {
    color: #222222;
}
input[type=text].form_item {
	@include rempix(padding, 32px 54px 32px 24px);
}
input[type=text] + label {
	position: absolute;
	display: block;
	@include rempix(right, 8px);
    @include rempix(top, 18px);
    @include rempix(width, 40px);
    @include rempix(height, 40px);

    @include transition-property(top);
	@include transition-duration(0.3s);
	@include transition-timing-function(cubic-bezier(0.505, 0.715, 0.530, 0.890));
}
input[type=text] + label:after,
input[type=text] + label:before {
	@include rempix(top, -10px);
    color: #FFFFFF;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 300%;
	opacity: 0;
	text-align: center;
	vertical-align: middle;
	
    @include transform(scale(0.1));
    @include transition-property(opacity color transform);
    @include transition-duration(0.45s);
    @include transition-delay(0.1s);
	@include transition-timing-function(cubic-bezier(0.680, -0.550, 0.265, 1.550));
}
input[type=text] + label:after {
	content: "\2717";
	color: #DF6C4F;
}
input[type=text] + label:before {
	content: "\2714";
	color: #3C948B;
}

input[type=text].is-valid + label:before,
input[type=text].has-error + label:after {
	opacity: 1;
	@include transform(scale(0.5));
}

.info {
	display: block;
	clear: both;
	position: relative;
    @include rempix(top, 50px);
	color: #666666;
	line-height: 140%;
	text-align: center;
}